<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
  <head> 
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
    <meta http-equiv="Content-Language" content="en-us" /> 
    <title>Squidnet Portal{% block title %}{% endblock %}</title>
    <meta name="ROBOTS" content="NONE" /> 
    <link href="{{ media_url }}css/main.css" rel="stylesheet" type="text/css" media="all" /> 
    <meta name="viewport" content="width=320; user-scalable=false" /> 
    {% block extrahdrs %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
    {% endblock %}
    {% block footer %}
    {% endblock %}
  </body>
</html>
